* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Barlow', sans-serif;
}


#stage {
    width: 1280px;
    height: 720px;
    margin-top: 50px;
    margin-left: 80px;
    background-color: white;
}

/* #titleLabel {
    background-color: white;
    height: 30px;
    width: 300px;
    margin-top: -700px;
    margin-left: 80px;
    position: absolute;
    display: block;
    text-decoration: underline;
} */

#title1 {
    background-color: white;
    height: 30px;
    width: 300px;
    margin-top: -700px;
    margin-left: 80px;
    position: absolute;
    display: block;
    text-decoration: underline;
    /* z-index: 2; */

}

#menuLabel {
    background-color: white;
    height: 30px;
    width: 300px;
    margin-top: -700px;
    margin-left: 1050px;
    position: absolute;
    display: flex;
}


#menuAll {
    background-color: white;
    height: 30px;
    width: 100px;
    margin-top: 0px;
    margin-left: 100px;
    display: block
}

#menuFemale {
    background-color: white;
    height: 30px;
    width: 150px;
    margin-top: 0px;
    margin-left: 0px;
    display: block

}

#menuMale {
    background-color: white;
    height: 30px;
    width: 100px;
    margin-top: 0px;
    margin-left: 0px;
    display: block

}

#hoverLabel {
    background-color: white;
    height: 20px;
    width: 500px;
    margin-top: 300px;
    margin-left: 80px;
    position: absolute
}

.country {
    background-color: rgba(162, 101, 205, 1);
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    border-radius: 0;
}

.womenCountry {
    background-color: rgba(212, 153, 255, 1);
}

.menCountry {
    background-color: rgba(110, 56, 148, 1);
}

.hover {
    background-color: rgba(162, 101, 205, 0.7);
}

.hoverWomen {
    background-color: rgba(212, 153, 255, 0.7);;
}

.hoverMen {
    background-color: rgba(110, 56, 148, 0.7);
}

.button {
    margin-top: -360px;
    margin-left: 1400px;
    /* z-index:1 */
}

/* #overlay{
    background-color: white;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: 1400px;
    z-index:2
} */

 #backButton {
    margin-top: 0px;
    margin-left: 40px;
    height: 30px;
}

#title2 {
    background-color: white;
    height: 30px;
    width: 200px;
    margin-top: -390px;
    margin-left: 80px;
    position: absolute;
    display: block;
    text-decoration: underline;
    /* z-index: 1; */
}

#menuAbsolute {
    background-color: white;
    height: 30px;
    width: 100px;
    margin-top: -390px;
    margin-left: 1150px;
    display: block;
}

#menuRelative {
    background-color: white;
    height: 30px;
    width: 100px;
    margin-top: -30px;
    margin-left: 1250px;
    display: block;
}

.bar{ 
    margin-top: 0px;
    margin-left: 130px;
    position: absolute;
    border-radius: 0;

}

.years {
    background-color: white;
    color: black;
    width: 50px;
    border: none;
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}

#yearView {
    position: absolute;
    top: 720px;
    left: 80px;
    display:inline-flex;
}

.age {
    background-color: white;
    color: black;
    width: 10px;
    height: 30px;
    border: none;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

#ageView {
    position: absolute;
    top: 240px;
    left: 80px;
}



